<!DOCTYPE html>
<html lang="en">
<head>
    <title>Payment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000" rel="stylesheet">
    <link rel="stylesheet" href="css/tailwind/tailwind.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="images/Mask-group.png">
    <script src="js/main.js"></script>
</head>
<body class="antialiased bg-body text-body font-body">
    <div class="">

      <section class="py-10 bg-gray-50 overflow-hidden">
        <div class="container mx-auto px-4">
          <div class="p-10 bg-white rounded-3xl">
            <div class="flex flex-wrap md:items-center -m-8">
              <div class="w-full md:w-1/2 p-8">
                <div class="py-20 px-8 lg:px-20 bg-gray-100 rounded-3xl">
      <img class="mb-20 md:mb-40" src="images/Mask-group.png" alt="">
                  <h2 class="font-heading mb-20 md:mb-6 text-4xl md:text-5xl text-gray-900 font-black">Individual - Connect</h2>
                         <h2 class="font-heading mb-20 md:mb-40 text-xl md:text-xl text-gray-900 font-black"> Total Billed Today: $180</h2>
                  <ul class="max-w-xs">
                    <h3 class="font-heading mb-6 text-xl text-gray-500 font-bold">100% GUARANTEE</h3>
                    <li class="flex flex-wrap mb-6">
                      <svg class="w-auto mr-2.5" width="25" height="26" viewbox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 23C18.0228 23 22.5 18.5228 22.5 13C22.5 7.47715 18.0228 3 12.5 3C6.97715 3 2.5 7.47715 2.5 13C2.5 18.5228 6.97715 23 12.5 23ZM17.1339 11.3839C17.622 10.8957 17.622 10.1043 17.1339 9.61612C16.6457 9.12796 15.8543 9.12796 15.3661 9.61612L11.25 13.7322L9.63388 12.1161C9.14573 11.628 8.35427 11.628 7.86612 12.1161C7.37796 12.6043 7.37796 13.3957 7.86612 13.8839L10.3661 16.3839C10.8543 16.872 11.6457 16.872 12.1339 16.3839L17.1339 11.3839Z" fill="#3B82F6"></path>
                      </svg>
                      <p class="flex-1 font-bold">If you are not happy with this service you can cancel in the first 30 days for a 100% refund</p>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="w-full md:w-1/2 p-8">
                <form class="md:max-w-md mx-auto">
                  <div class="flex flex-wrap -m-3">
                    <div class="w-full p-3">
                      <label class="block mb-2 text-sm text-gray-500 font-bold" for="signUpLightReverseInput1-2">Card Number</label>
                      <input class="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 font-bold bg-gray-100 placeholder-gray-500 outline-none border border-gray-200 focus:ring-4 focus:ring-blue-200 rounded-full" id="signUpLightReverseInput1-2" type="number" placeholder="">
                    </div>
                    <div class="w-full p-3">
                      <label class="block mb-2 text-sm text-gray-500 font-bold" for="signUpLightReverseInput1-3">Expiration Date</label>
                      <input class="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 font-bold bg-gray-100 placeholder-gray-500 outline-none border border-gray-200 focus:ring-4 focus:ring-blue-200 rounded-full" id="signUpLightReverseInput1-3" type="date" placeholder="MM/YY">
                    </div>
                    <div class="w-full p-3">
                      <div class="flex flex-wrap items-center justify-between -m-3">
                        <div class="w-auto p-3">
                          <div class="flex items-center">
                            <input class="opacity-0 absolute h-6 w-6" id="signUpLightReverseCheckbox1-1" type="checkbox">
                            <div class="flex flex-shrink-0 justify-center items-center w-6 h-6 mr-4 text-transparent bg-white border border-gray-200 border-neutral-200 rounded-md">
                              <svg width="9" height="7" viewbox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.603516 3.77075L2.68685 5.85409L7.89518 0.645752" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                            </div>
                            <label class="text-gray-500 font-bold" for="signUpLightReverseCheckbox1-1"><span>By signing up, I agree to the </span><a class="text-blue-500 hover:text-blue-600" href="#">Terms &amp; Conditions</a></label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="w-full p-3">
                      <div class="flex flex-wrap md:justify-end -m-2">
                        <div class="w-full p-2"><a class="block px-8 py-3.5 text-lg text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full" href="accountsetup.html">Purchase</a></div>
                      </div>
                    </div>
                    <div class="w-full p-3">
                    </div>
                    <div class="w-full p-3">
                      <div class="flex flex-wrap md:justify-end -m-2">
                      </div>
                    </div>
                    <div class="w-full p-3">
                      <div class="flex flex-wrap md:justify-end -m-2">
                        <div class="w-full p-2"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</body>
</html>